<main>
  <div class="img-container">
    <img src="../../assets/about.svg" alt="Logos of supported browsers">
  </div>
  <div class="text-container">
    <h1 class="about-heading">
      <span>Your </span>
      <span class="red">B</span>
      <span class="orange">r</span>
      <span class="green">o</span>
      <span class="blue">w</span>
      <span class="pink">s</span>
      <span class="purple">e</span>
      <span class="sky">r</span>
    </h1>
    <p class="muted">An open source project</p>
    <p>
      This project is a simple project created to learn Angular framework. It uses <a href="https://github.com/arasatasaygin/is.js">is.js</a> library to detect client’s browser. 
    </p>
    <p>
      Any contributions to improve this project are really appreciated. You can find the code for this project on <a href="https://github.com/harshPPatel/your-browser">GitHub</a>. 
    </p>
    <p class="bold">Thank you for visiting this website!</p>
  </div>
</main>