main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 960px;
  width: 95%;
  margin: 130px auto 0;

  @media screen and (max-width: 868px) {
    margin-top: 80px;
    flex-direction: column;
    text-align: center;
  }

  .img-container,
  .text-container {
    width: 50%;

    @media screen and (max-width: 868px) {
      width: 100%;
    }
  }

  img {
    max-height: 350px;
    width: auto;
    margin: 0 auto;

    @media screen and (max-width: 868px) {
      max-height: 250px;
      margin-bottom: 50px;
    }
  }

  .muted {
    margin-bottom: 32px;
  }
}

.text-container {
  p {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 175%;
    letter-spacing: 1px;
    max-width: 400px;

    @media screen and (max-width: 868px) {
      max-width: 500px;
      width: 90%;
      margin: 0 auto 16px;
    }
    
    &:not(.muted) {
      color: rgba(#000, 0.85);
    }

    a {
      transition: all 0.2s ease-in-out;

      &:link,
      &:visited {
        color: rgba(#000, 0.85);
      }

      &:hover,
      &:active {
        color: rgba(#000, 0.5);
      }
    }
  }
}