<main>
  <h1>
    <span class="icon">😔</span>
    <span class="text">
      <b>404</b> - Not Found
    </span>
  </h1>
  <div class="also-section">
    <h3>We Also Detect...</h3>
    <ul class="browser-list">
      <li>
        <img src="../../assets/Chrome-Logo.svg" alt="Chrome Logo" /> Chrome
      </li>
      <li>
        <img src="../../assets/Firefox-Logo.svg" alt="Firefox Logo" /> Firefox
      </li>
      <li>
        <img src="../../assets/Safari-Logo.svg" alt="Safari Logo" /> Safari
      </li>
      <li>
        <img src="../../assets/Microsoft-Edge-Logo.svg" alt="Microsoft Edge Logo" /> Microsft Edge
      </li>
    </ul>
    <p>And More...</p>
  </div>
</main>