<div class="icon-container">
  <img *ngIf="browser === 'Chrome'" src="../../assets/Chrome-Logo.svg" alt="Chrome Logo">
  <img *ngIf="browser === 'Firefox'" src="../../assets/Firefox-Logo.svg" alt="Chrome Logo">
  <img *ngIf="browser === 'Safari'" src="../../assets/Safari-Logo.svg" alt="Chrome Logo">
  <img *ngIf="browser === 'Opera'" src="../../assets/Opera-Logo.svg" alt="Chrome Logo">
  <img *ngIf="browser === 'Internet Explorer'" src="../../assets/Internet-Explorer-Logo.svg" alt="Chrome Logo">
  <img *ngIf="browser === 'Microsoft Edge'" src="../../assets/Microsoft-Edge-Logo.svg" alt="Chrome Logo">
  <img *ngIf="browser === 'Phantom'" src="../../assets/Phantom-Logo.svg" alt="Chrome Logo">
  <img *ngIf="browser === 'Other'" src="../../assets/Other-Logo.svg" alt="Chrome Logo">
</div>
