.red {
  color: #db4437;
  text-decoration-color: #db4437;
}

.orange {
  color: #fca250;
  text-decoration-color: #fca250;
}

.green {
  color: #0f9d58;
  text-decoration-color: #0f9d58;
}

.blue {
  color: #4285f4;
  text-decoration-color: #4285f4;
}

.pink {
  color: #e20e69;
  text-decoration-color: #e20e69;
}

.purple {
  color: #b73be5;
  text-decoration-color: #b73be5;
}

.sky {
  color: #12aff1;
  text-decoration-color: #12aff1;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h1.about-heading {
  color: #2e2e2e;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 16px;

  span {
    text-decoration: underline;
  }
}

.muted {
  font-size: 14px;
  color: rgba(#000, 0.5);
  letter-spacing: 1px;
}

.bold {
  font-weight: bold;
}